.. meta::
    :name: author
    :content: {{ session.user }}

{% set path = document.type_name + "/" + document.document_id + "/" + document.version %}

.. jquery::

.. script:: {{ path }}/facture


.. editable:: {{ path }}/Adresse facturation
   :class: adresse
   :id: adresse
   :title: Adresse

.. editable:: {{ path }}/Type
   :class: type
   :id: type
   :title: Type

.. editable:: {{ path }}/Date
  :class: date
  :id: date
  :title: Date

.. editable:: {{ path }}/Numéro de facture
   :class: definition
   :id: numero facture
   :title: Numéro de facture

.. editable:: {{ path }}/Mode de règlement
   :class: definition reglement
   :id: mode reglement
   :title: Mode de réglement

.. editable:: {{ path }}/Période
   :class: definition
   :id: periode
   :title: Période
   
.. editable:: {{ path }}/Commentaire(s)
   :class: commentaire
   :id: commentaire
   :title: Commentaire(s)


.. button:: + AddLine();
   :class: btn-plus
 
.. button:: - RemLine();
   :class: btn-moins


.. table:: 
   :class: table
   :name: table


   ================================== ================ ================== ================= =====================
   Désignation                        Qté              Prix unit. HT      Total HT          TVA
   ================================== ================ ================== ================= =====================
   :editable:`designation`            :editable:`1`    :editable:`0`\  €                    :editable:`19,6`\  %
   ================================== ================ ================== ================= =====================


.. table::
   :class: total
   :name: total
   
   ========= ========= ==========
   Total TVA  Total HT  Total TTC
   ========= ========= ==========
   ========= ========= ==========
