#teddybar {
  background: #eee;
  border-bottom: 1px solid #dedede;
  display: block;
  min-height: 40px;
  width: 100%;
  z-index: 1000;
}

#teddybar ul {
  border-right: 1px solid #ececec;
  border-left: 1px solid #bfbfbf;
  list-style: none;
  padding: 0 1em;
  margin: 0.25em 0;
  display: inline-block;
  height: 32px;
}

#teddybar ul:last-child {
  border-right: none;
}

#teddybar li {
  display: inline-block;
}

#teddybar li > input {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  font-size: 0;
}

#teddybar li > input::-moz-focus-inner {
  border: 0;
}

#teddybar li > input:hover,
#teddybar li > input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

#teddybar li > input:active {
  box-shadow:
  0px 2px 2px rgba(0, 0, 0, 0.5) inset,
  0px 2px 2px rgba(255, 255, 255, 0.5);
}

#teddybar input {
  background-color: transparent;
  background-size: 100% 100%;
}

#teddybar input.bold {
  background-image: url(icons/bold.svg);
  background-size: 100% 100%;
}

#teddybar input.italic {
  background-image: url(icons/italic.svg);
  background-size: 100% 100%;
}

#teddybar input.underline {
  background-image: url(icons/underline.svg);
  background-size: 100% 100%;
}

#teddybar input.strikethrough {
  background-image: url(icons/strikethrough.svg);
  background-size: 100% 100%;
}

#teddybar input.paragraph {
  background-image: url(icons/paragraph.svg);
  background-size: 100% 100%;
}

#teddybar input.insertunorderedlist {
  background-image: url(icons/list.svg);
  background-size: 100% 100%;
}

#teddybar input.insertorderedlist {
  background-image: url(icons/ordered_list.svg);
  background-size: 100% 100%;
}

#teddybar input.justifyleft {
  background-image: url(icons/left.svg);
  background-size: 100% 100%;
}

#teddybar input.justifyright {
  background-image: url(icons/right.svg);
  background-size: 100% 100%;
}

#teddybar input.justifycenter {
  background-image: url(icons/center.svg);
  background-size: 100% 100%;
}

#teddybar input.justifyfull {
  background-image: url(icons/full.svg);
  background-size: 100% 100%;
}

#teddybar input.undo {
  background-image: url(icons/undo.svg);
  background-size: 100% 100%;
}

#teddybar input.redo {
  background-image: url(icons/redo.svg);
}

#teddybar input.pdf {
  background-image: url(icons/pdf.svg);
  background-size: 100% 100%;
}

#teddybar input.save {
  background: url(icons/save.svg) no-repeat;
  background-size: 100% 100%;
}

#teddybar input.save_as {
  background: url(icons/save_as.svg) no-repeat;
  background-size: 100% 100%;
}

#teddybar input.settings {
  background: url(icons/options.svg) no-repeat;
  background-size: 100% 100%;
}

#teddybar select {
  background: transparent;
  color: #333;
  font-size: 0.9em;
  max-width: 200px;
  overflow: hidden;
  position:relative;
  top: 4px;
}

#teddybar option {
  background: transparent;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  color: #333;
}
