{% extends "layout.html" %}

{% block title %}Documents{% endblock title %}

{% block content %}
  <h2>Documents enregistrés</h2>
  {% for document_type, documents in document_list | groupby("type") %}
    <h3>{{ document_type }}</h3>
    {% for document in documents %}
      <h4>
        {% if g.context.person.user_id in document.users_write %}
          <a href="{{ url_for('edit', document_type=document.type, document_name=document.document_id) }}">
        {% endif %}
        {{ document.document_id }}
        {% if g.context.person.user_id in document.users_write %}
          </a>
        {% endif %}
      </h4>
      <ul>
        {% for version in document.history[:-1] %}
          <li>
            {% if g.context.person.user_id in document.users_read %}
              <a href="{{ url_for('view', document_type=document.type, document_name=document.document_id, version=version.version) }}">
            {% endif %}
              {{ version.datetime | localtime | strftime("Le %d %B %Y à %H:%M") }}
            {%- if g.context.person.user_id in document.users_read -%}
              </a> par {{ version.author.split(' <')[0] }} ({{ version.message }})
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <p>Aucun document enregistré</p>
  {% endfor %}
{% endblock content %}
