{% extends "layout.html" %}

{% block title %}{{ document_name }}{% endblock title %}

{% block head %}
  <script src="{{ url_for('_pynuts-static', filename='javascript/save.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    function delete_rights(document_id, user_id) {
        $.ajax({
            url: "{{ url_for('delete_rights') }}",
            type: 'post',
            data: {
                'document_id': document_id,
                'user_id': user_id,
            },
            success: function(user) {
              $('#allowed-users').find('tr[data-user="' + user.user_id + '"]').remove();
              option = $('<option>', {'value': user.user_id}).html(user.fullname);
              $('select[name=user]').append(option);
            }
        });
    }

    function save_callback(status) {
        if (status == 'ok') {
            var message = 'Contenu enregistré.';
            var cls = 'info';
        } else {
            var cls = 'error';
            if (status == 'error') {
                var message = 'Conflit : Veuillez rafraîchir la page.';
            } else {
                var message = 'Erreur, aucun champ n’a été modifié';
            }
        }
        return function() {
            var div = $('<aside>', {'class': 'message '+ cls}).html(message);
            $('h2').after(div);
            div.slideDown(300).delay(3000).fadeOut().queue(function(){$(this).remove()});
        };
    }

    $(function () {
        $('#buttons a').each(function() {
            $(this).attr('title', $(this).text());
        });

        $('#style a').each(function() {
            $(this).click(function(event) {
                var iframe_document = $('iframe')[0].contentWindow.document;
                event.preventDefault();
                role = $(this).attr('id');
                if (['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'blockquote'].indexOf(role) >= 0) {
                    iframe_document.execCommand('formatBlock', false, role);
                } else {
                    iframe_document.execCommand(role, false, null);
                }
                return false;
            });
        });

        $('#save').click(function() {
            save_content({
                document: $('iframe'),
                author: "{{ g.context.person.fullname }}",
                author_email: "{{ g.context.person.mail }}",
                success_callback: save_callback('ok'),
                fail_callback: save_callback('error'),
                unchange_callback: save_callback('unchanged')
            });
            return false;
        });

        $('#download').click(function() {
            $.ajax({
                url:"{{ url_for('pdf_link', document_type=document_type, document_name=document_name) }}",
                success: function(response){
                    $('#loader').hide();
                    window.location=response;
                }
            });
        });

        $('#settings').click(function() {
            if ($('#rights').length == 0) {
                var a = $(this);
                $.get('{{ url_for('read_rights', document_id=document_name)}}', function(data) {
                    a.after($.parseHTML(data));
                });
            } else {
                $('#rights').remove();
            }
            return false;
        });
        
        $('body').on('click', '#users input[type=button]', function() {
            read = $('input[name=r]').is(':checked');
            write = $('input[name=w]').is(':checked');
            if (read === false && write === false) {
                return false;
            }
            $.ajax({
                url: '{{ url_for('create_rights') }}',
                type: 'post',
                data: {
                    'document_id': '{{ document_name }}',
                    'user_id': $('select[name=user]').val(),
                    'read': read,
                    'write': write  
                },
                success: function(user) {
                    rights = ['Lecture et écriture', 'rw'];
                    if (user.write == 'true' && user.read == 'false') {
                        rights = ['Écriture', 'w'];
                    } else if (user.write == 'false' && user.read == 'true') {
                        rights = ['Lecture', 'r'];
                    }
                    row = '<tr data-user="' + user.user_id + '"><td>' + user.fullname + '</td><td class="rights">' + rights[0] + '</td><td><a href="javascript:" onclick="delete_rights(\'{{ document_name }}\',\'' + user.user_id + '\')">×</a></td></tr>';
                    $('#allowed-users').append(row);
                    $('select[name=user]').find('option[value="' + user.user_id + '"]').remove();
                }
            });
        }); 
    });
  </script>
{% endblock head %}

{% block content %}
  <h2>{{ document_name }}</h2>

  <aside id="buttons">
    <ul id="style">
      <li><a id="undo" data-char="↶" href="#">Undo</a></li>
      <li><a id="redo" data-char="↷" href="#">Redo</a></li>
      <li><a id="bold" data-char="𝐁" href="#">Bold</a></li>
      <li><a id="italic" data-char="𝐼" href="#">Italic</a></li>
      <li><a id="blockquote" data-char="’’" href="#">Quote</a></li>
      <li><a id="insertUnorderedList" data-char="•" href="#">Unordered list</a></li>
      <li><a id="insertOrderedList" data-char="①" href="#">Ordered list</a></li>
      <li><a id="h1" data-char="h1" href="#">h1</a></li>
      <li><a id="h2" data-char="h2" href="#">h2</a></li>
      <li><a id="h3" data-char="h3" href="#">h3</a></li>
      <li><a id="h4" data-char="h4" href="#">h4</a></li>
      <li><a id="h5" data-char="h5" href="#">h5</a></li>
      <li><a id="h6" data-char="h6" href="#">h6</a></li>
      <li><a id="p" data-char="p" href="#">p</a></li>
      <li><a id="superscript" data-char="¹" href="#">Superscript</a></li>
      <li><a id="subscript" data-char="₁" href="#">Subscript</a></li>
    </ul>
    <ul id="control">
      <li><a id="settings" data-char="⚙" href="#">Settings</a></li>
      <li><a id="save" data-char="⤒" href="#">Save</a></li>
      <li><a id="download" data-char="📃" href="#">Download</a></li>
    </ul>
  </aside>

  <iframe src="{{ url_for('model', document_type=document_type, document_name=document_name) }}"></iframe>
{% endblock content %}
