{% extends "layout.html" %}

{% block title %}
- {{document_name}}
{% endblock title %}

{% block head %}
<link href="{{ url_for('static', filename='TeddyBar/teddybar.css') }}" media="screen" type="text/css" rel="stylesheet" />
<script src="{{ url_for('static', filename='TeddyBar/teddybar.js') }}" type="text/javascript"></script>
<script src="{{ url_for('_pynuts-static', filename='javascript/save.js') }}" type="text/javascript"></script>
<script>
    function $iframe(elmt) {
        return $('#iframe').contents().find(elmt);
    } 
    function save_ok_callback() {
        var message = 'Contenu enregistré.';
        var div = $('<div>', {'class': 'ok'}).html(message);
        $('body>section').before(div);
        div.slideDown(300).delay(3000).fadeOut().queue(function(){$(this).remove()});
    }
    function save_error_callback() {
        var message = 'Conflit: Veuillez rafraîchir la page.';
        var div = $('<div>', {'class': 'error'}).html(message);
        $('body>section').before(div);
        div.slideDown(300).delay(3000).fadeOut().queue(function(){$(this).remove()});
    }
    function save_empty_callback() {
        var message = 'Erreur, aucun champ n\'a été modifié';
        var div = $('<div>', {'class': 'error'}).html(message);
        $('body>section').before(div);
        div.slideDown(300).delay(3000).fadeOut().queue(function(){$(this).remove()});
    }
    $(function () {
        var iframe = $('<iframe>', {
            'id': 'iframe',
            'src': '{{ url_for("model", document_type=document_type, document_name=document_name) }}'
        });
        $('#teddybar').after(iframe);

        $('#iframe').load(function(){
            $.each($('#iframe').contents().find('div[contenteditable]'), function() {
                $(this).attr('data-hash', hashCode($(this).html()));
             });
        });
        $('#teddybar').teddybar({
            document : function () { return document.getElementById('iframe').contentWindow.document },
            commands : {
                'save': function() {
                    save({
                        document: $('iframe'),
                        divs: $iframe('div[contenteditable]'),
                        span_containers: $iframe('span[contenteditable]'),
                        url: "{{ url_for('save', document_type=document_type) }}",
                        ok_callback: save_ok_callback,
                        error_callback: save_error_callback,
                        empty_callback: save_empty_callback
                    });
                },
                'save_as': function () {
                    var message = prompt('Message:');
                    if(message==null) {
                        return false;
                    } else if(message.length==0) {
                        if(confirm('Vous n\'avez pas spécifié de message, continuer ?')) {
                            this.save();
                        } else {
                            return false;
                        }
                    } else {
                      save({
                          document: $('iframe'),
                          divs: $iframe('div[contenteditable]'),
                          span_containers: $iframe('span[contenteditable]'),
                          url: "{{ url_for('save', document_type=document_type) }}",
                          message: message,
                          ok_callback: save_ok_callback,
                          error_callback: save_error_callback,
                          empty_callback: save_empty_callback
                      });
                    }
                },
                'pdf': function() {
                    var loader = $('<div>', {'class': 'loading'});
                    loader.fadeIn(500);

                    $.ajax({
                        url:"{{ url_for('pdf_link', document_type=document_type, document_name=document_name) }}",
                        success: function(response){
                            $('#loader').hide();
                            window.location=response;
                        }
                    });
                },
                'settings': function () {
                    $('#settings').toggle();
                },
                'pdf': function() {
                    var loader = $('<div>', {'class': 'loading'});
                    loader.fadeIn(500);
                    $.ajax({
                        url:"{{ url_for('pdf_link', document_type=document_type, document_name=document_name) }}",
                        success: function(response){
                            $('#loader').hide();
                            window.location=response;
                        }
                    });
                }
            } // End commands
        }); // End TeddyBar
        
        // Create settings div
        settings = $('<div>', {'id': 'settings'});   
        settings.load("{{ url_for('read_rights')}}", {'document_id': '{{ document_name }}'});
        $('#teddybar .settings').after(settings).show();
        
        $('body').on('click', '.add-people', function () {
            $('#users').toggle(200);
        });

        $('body').on('click', '#users input[type=button]', function() {
            read = $('input[name=r]').is(':checked');
            write = $('input[name=w]').is(':checked');
            if(read === false && write === false) {
                alert('Veuillez cocher au moins 1 case');
                return false;
            }
            document_id = "{{ document_name }}";
            user_id = $('select[name=user]').val();
            $.ajax({
                url: "{{ url_for('create_rights') }}",
                type: 'post',
                data: {
                    'document_id': document_id,
                    'user_id': user_id,
                    'read': read,
                    'write': write  
                },
                success: function(user) {
                    rights = ['Lecture et Ecriture', 'rw'];
                    if(user.write == 'true' && user.read == 'false') {
                        rights = ['Ecriture', 'w'];
                    }
                    else if(user.write == 'false' && user.read == 'true'){
                        rights = ['Lecture', 'r'];
                    }
                    row = '<tr data-user="' + user.user_id + '"><td>' + user.user_id + '</td><td class="rights"><a data-rights="' + rights[1] + '" class="update-people" href="javascript:display_right_options(\'' + document_id + '\',\'' + user.user_id + '\')">' + rights[0] + '</a></td><td><a href="javascript:" onclick="delete_rights(\'' + document_id + '\',\'' + user.user_id + '\')">x</a></td></tr>';
                    $('#allowed-users').append(row);
                    $('select[name=user]').find('option[value="' + user.user_id + '"]').remove();
                    if($('select[name=user]').find('option').length == 0) {
                        $('#users, .add-people').hide();
                    }
                }
            });
        }); 
        if($('select[name=user]').find('option').length == 0) {
            $('#users, .add-people').hide();
        }
    });// end $(function())
    
    function display_right_options(document_id, user_id) {
        var link = $('tr[data-user="' + user_id + '"]').find('.update-people');
        link.toggleClass('right-select');
        if($('.right-options').length == 0) {
            current_right = $('tr[data-user="' + user_id + '"]').find('.update-people').attr('data-rights');  
            var ul = $('<ul>', {'class': 'right-options'});
            options = [['Lecture', 'r'], ['Ecriture', 'w'], ['Lecture et Ecriture', 'rw']];
            $.each(options, function () {
              li = $('<li>');
              if($(this)[1] == current_right) {
                li.toggleClass('opt-selected');
              }
              a = $('<a>', {'href': 'javascript:', 'onclick': 'update_rights("' + document_id + '", "' + user_id + '", "' + $(this)[1] + '")'}).html($(this)[0]);
              a.appendTo(li);
              li.appendTo(ul);
            });
            link.after(ul);
        }
        else {
            $('.right-options').remove();
        }
    }
    function update_rights(document_id, user_id, rights) {
         $.ajax({
            url: "{{ url_for('update_rights') }}",
            type: 'post',
            data: {
                'document_id': document_id,
                'user_id': user_id,
                'rights': rights
            },
            success: function(new_rights) {
              $('.right-options').remove();
              $('#allowed-users tr[data-user="' + user_id + '"]').find('.update-people').attr('data-rights', new_rights.rights).html(new_rights.label_rights);
            }
        });
    }
    function delete_rights(document_id, user_id) {
        $.ajax({
            url: "{{ url_for('delete_rights') }}",
            type: 'post',
            data: {
                'document_id': document_id,
                'user_id': user_id,
            },
            success: function(user_id) {
              $('#allowed-users').find('tr[data-user="' + user_id + '"]').remove();
              option = $('<option>', {'value': user_id}).html(user_id);
              $('select[name=user]').append(option);
              /*if($('select[name=user]').is(':hidden')) {
                  $('#users, .add-people').show();
              }*/
            }
        });
    }

</script>
{% endblock head %}

{% block content %}
  <div id="teddybar"></div>
{% endblock content %}

