<!Doctype html>
<html>
  <head>
    <title>Koztumize - {% block title %}{% endblock title %}</title>  
    <meta charset="UTF-8" />
    <link href="{{url_for('static',filename='style.css')}}" media="screen" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script> 
    {% block head %}{% endblock head %}
  </head>

  <body>
    <header>
      <h1><a href="/">Koztumize</a></h1>
    </header>
    
    <nav>
      <ul>
        <li><a href="{{ url_for('index')}}" >Créer un nouveau document</a></li>
        <li><a href="{{ url_for('documents')}}">Accéder à vos documents enregistrés</a></li>
      </ul>
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <aside id="messages">
          {% for style, message in messages %}
            <p class="{{ style }}">{{ message }}</p>
          {% endfor %}
        </aside>
      {% endif %}
    {% endwith %}

    <main>
      {% block content %}{% endblock content %}
    </main>

    <footer>
      <ul>
        <li><a href="http://community.kozea.org/">A Kozea Project</a></li>
        <li><a href="http://validator.w3.org/check?uri=referer">Optimized for Standards</a></li>
      </ul>
    </footer>
  </body>
</html>
