{% extends "layout.html" %}

{% block content %}
  <h2>Connexion à Koztumize</h2>
  <section class="connection">
    <p>Veuillez vous connecter</p>
    <form action="{{ url_for('login_post') }}" method="post" >
      <label for="login">Nom d'utilisateur</label><input type="text" name="login" id="login" autofocus/>
      <label for="passwd">Mot de passe</label><input type="password" name="passwd" id="passwd"/>
      <input type="submit" name="submitlogin" value="Valider"/>
    </form>
  </section>
{% endblock content %}
