<aside id="rights">
  <table id="allowed-users">
    <tbody>
      {% for allowed_user in allowed_users %}
        <tr data-user="{{ allowed_user.user_id }}">
          <td>{{ allowed_user.user.fullname }}</td>
          <td class="rights">
            {% if allowed_user.user_id == owner %}
              Propriétaire
            {% else %}            
              {% if allowed_user.read %}
                Lecture{% if allowed_user.write %} et écriture{% endif %}
              {% else %}
                Écriture
              {% endif %}
            {% endif %}
          </td>
          {% if g.context.person.user_id == owner and not allowed_user.user_id == owner %}
            <td>
              <a class="delete-people" href="javascript:" onclick="delete_rights('{{ document_name }}', '{{ allowed_user.user_id }}');">×</a>
            </td> 
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if g.context.person.user_id == owner %}
    <form method="post" id="users">
      <select name="user">
        {% for user in available_users %}
          <option value="{{ user.user_id }}">{{ user.fullname }}</option>
        {% endfor %}
      </select>
      <input type="checkbox" name="r" id="check-read"><label for="check-read">Lecture</label>
        <input type="checkbox" name="w" id="check-write"><label for="check-write">Écriture</label>
          <input type="button" value="Valider">
    </form>
  {% endif %}
</aside>
