{% extends "layout.html" %}

{% block title %}{{ document_name }}{% endblock title %}

{% block head %}
  <style>
    .definition:empty:before {
        display: none;
    }
  </style>
  <script type="text/javascript">
    $(function () {
        $('iframe').load(function() {
            $(this).contents().find('*[contenteditable]').removeAttr('contenteditable');
        });
    });
  </script>
{% endblock head %}

{% block content %}
  <h2>{{ document_name }}</h2>

  <aside id="options">
    <ul>
      <li><a href="{{ url_for('pdf', document_type=document_type, document_name=document_name, version=version) }}">Télécharger en PDF</a></li>
      <li><a href="{{ url_for('edit', document_type=document_type, document_name=document_name) }}">Accéder à la dernière version</a></li>
    </ul>
  </aside>
 
  <iframe src="{{ url_for('model', document_type=document_type, document_name=document_name) }}"></iframe>
{% endblock content %}
