.. jquery::

.. script:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/courrier


.. editable:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/Date
  :class: date
  :id: date
  :title: Date

.. editable:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/Destinataire
  :class: destinataire
  :id: destinataire
  :title: Destinataire

.. editable:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/Référence
  :class: definition
  :id: reference
  :title: Référence

.. editable:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/Objet
  :class: definition
  :id: objet
  :title: Objet

.. editable:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/Civilites
  :class: civilites
  :id: civilites
  :title: Civilités


.. editable:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/Corps
  :class: corps
  :id: corps
  :title: Corps

.. editable:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/Formule de salutation
  :class: salutation
  :id: salutation
  :title: Formule de salutation

.. editable:: {{ document.type_name }}/{{ document.document_id }}/{{ document.version }}/Signature
  :class: signature
  :id: signature
  :title: Signature
    
    {{ document.author.split(' <')[0] }}
