@font-face{
  font-family: 'patinio';
  src: url('Patinio Futura.ttf');
}


/*
  -------------
  - HTML/Body -
  -------------
*/

html {
  background: url(img/wrapper-back.png) repeat-x left 120px,
              url(img/wrapper.png) no-repeat center 120px, 
              #1c1c1c;
  border-top: 5px solid #CA378F;
}

body{
  display: block;
  font-family: trebuchet ms,sans-serif; 
  height: 100%;
  margin: 0;
  min-height: 100%;
  width: 100%;
}


/*
  ----------
  - Common -
  ----------
*/

a {
  text-decoration: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* 
   ----------
   - Header -
   ----------
*/

body>header {
  background: #1c1c1c url(img/header.png) repeat-x bottom left;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  height: 95px;
  position: relative; 
  z-index: 5;
}

body>header h1 {
  margin: 0 5%;
  width: 90%;
}

body>header h1 a {
  background: url(img/logo.png) no-repeat left 0px;
  color: transparent;
  display: block;
  float: left;
  height: 145px; 
  width: 430px;  
}


/* 
   -------
   - Nav -
   -------
*/

nav {
  background: -moz-linear-gradient(#f6f6f6 ,#e7e5e5);
  background: -webkit-linear-gradient(#f6f6f6 ,#e7e5e5);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.4) inset;
  margin-top: -16px;
  padding: 0 2%;
  position: relative; 
  text-align: right;
  z-index: 1;
}

nav ul {
  padding: 0;
}

nav  ul li  {
  display: inline-block;
  font-family: patinio;
  font-size: 0.85em;
}

nav ul li a {
  display: block;
  color: #666;
  padding: 0.5em 5px; 
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}


nav ul li a:hover, nav ul li a:focus {
  color: #222;
  text-decoration: none;
}

nav .current a{
  font-weight:bold;
  color:#444 ;
}

/* 
   ---------
   - Aside -
   ---------
*/

body> aside.user {
  margin:0;
  padding:0;
  position:absolute;
  right:1em;
  top: 41px;
  z-index: 10;
}

body > aside.user ul {
  padding: 0; 
  margin: 0;
}

body > aside.user ul li {
  color: #c3c3c3;
  display:inline-block;
  font-family: 'patinio';
  font-size: 0.8em;
}

body > aside.user ul li a {  
  background: -moz-linear-gradient(#4f4f4f, #1c1c1c);
  background: -webkit-linear-gradient(#4f4f4f, #1c1c1c);
  display: block; 
  color: #c3c3c3;
  padding: 0.8em 10px; 
}

body > aside.user ul li a:hover, body > aside.user ul li a:focus {
  color: #cb00ac;
  text-decoration: none;  
}


/* 
   -----------
   - Section -
   -----------
*/

section {
  background: white;
  box-shadow:
    1px 1px 0 rgba(0, 0, 0, 0.1),
    4px 4px 0 rgba(255, 255, 255, 1),
    5px 5px 0 rgba(0, 0, 0, 0.125),
    8px 8px 0 rgba(255, 255, 255, 1),  
    9px 9px 0 rgba(0, 0, 0, 0.150),
    12px 12px 0 rgba(255, 255, 255, 1),  
    15px 15px 0 rgba(0, 0, 0, 0.175);
  display: inline-block;
  margin: 50px 10% 50px; 
  width: 80%;
}

section section {
  background: none; 
  box-shadow: 0 0 0;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

section h2 {
  border-bottom: 1px solid;
  color: #6b6b6b;
  font-family: patinio;
  font-size: 1.8em;
  margin: 25px 5% 30px; 
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

section ul li {
  list-style: disc;
  padding: 0.2em 0;
}

section aside ul li a {
  color: #4B0040;
  transform: 0.2s linear;
}

section aside ul li a:hover, 
section aside ul li a:focus {
  color: #980082;
  transform:  0.2s linear;
}


/*
  ---------------
  - Aside index -
  ---------------
*/
aside.index {
  display: inline-block;
  float: left;
  font-size: 0.9em;
  margin: 0;
  width: 65%;
}

aside.index h2 {
  background: -moz-linear-gradient(#393939 , #1c1c1c);
  background: -webkit-linear-gradient(#393939 , #1c1c1c);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: patinio;  
  font-size: 1.6em;
  margin: 25px 10px 5px;
  padding: 0.15em 10px;
}


/* style for dirs */
.dir {
  text-transform:uppercase;
}


/*
  ------------ 
  - Messages -
  ------------
*/
p.ok, p.error {
  background: white;
  border: 3px solid;
  border-radius: 5px;
  font-weight:bold;
  margin: 35px auto 0;
  padding: 25px 0 8px;
  text-align:center;
  width: 50%;
}

p.ok:before, p.error:before {
  color: white;
  float: left;
  height: 25px;
  margin: -25px 0 10px;
  width: 100%;
}

p.error {
  border-color: #6E000D;
  color:#6E000D;
}

p.error:before {
  background: #6E000D;
  content: 'Attention';
}

p.ok {
  border-color: #006E22;
  color:#006E22;
}

p.ok:before {
  background: #006E22;
  content: 'Information';
}


/* 
   ----------------
   - Last commits -
   ----------------
*/

aside.last_commits {
  display: inline-block;
  margin: 0px 0 0 8%;
  width: 25%;
  border:1px solid #eee; 
}

aside.last_commits h3 {
  background: -moz-linear-gradient(#e4e4e4, #c9c9c9);
  background: -webkit-linear-gradient(#e4e4e4, #c9c9c9);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: #6b6b6b;
  font-size: 1.3em;
  font-variant: small-caps;
  font-weight: normal;
  padding: 0.1em 5px;
  text-align: center;
  margin-top:0px;
}

aside.last_commits #history{
  border-top:1px solid #eee;
  margin-bottom:0;
}

aside.last_commits form {
  color: #444;
  font-size: 0.8em;
  text-align: center;
  width:80%;
  margin:auto;
}

aside.last_commits form select {
  height: 1.5em;
  width:50%;
  background:#fefefe;
  color:#666;
  border-radius:2px;
  border:1px solid #ddd;
  box-shadow:
  0px 2px 2px 0px rgba(0, 0, 0, 0.5),
  0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
  overflow:hidden;
}

aside.last_commits div {
  font-size:0.8em;
  height: 48em;    
  margin: 1em 0 15px 0;
  overflow: auto;
  padding: 0 2%;
  width: 96%;
}

aside.last_commits a:first-child {
  padding-top: 0;
}

aside.last_commits div a {
  border-bottom: 1px solid #949494;
  color: #a8a8a8;
  display: block;
}

aside.last_commits div a:hover, 
aside.last_commits div a:focus {
  color: #636363;
  text-shadow:rgba(0,0,0,0.75);
}

aside.last_commits a:last-child {
  border: none;
}

aside.last_commits a ul {
  margin: 1px 0;
  padding: 4px 8px;
}

aside.last_commits div a ul li {
  list-style: none;
  padding: 0;
}

aside.last_commits div a ul li .strong {
  font-weight: bold;
}


/* Search */
input[name=search]{
  float:right;
  margin-top:-6.5em;
  margin-right:5%;
  background:#fff;
  background: url(img/icons/search.png) no-repeat scroll 0 0 transparent;
  border: medium none;
  color: ;;
  height: 26px;
  padding-left: 15px;
  width: 230px;
}


.archive-info{
  opacity:0.5;
  font-style:italic;
  font-size:0.9em;
}

#archive ul li a{
  font-size:1em;
}


.frame{
  background: rgba(25,25,25,1);
  display: none;
  font-size: 0.9em;
  position:absolute;
  z-index: 100;
  right:25px;
  width:320px;
  min-height:200px;
  margin:0;
  padding:0;
 /* box-shadow:0 0 0 1px rgba(50,50,50,0.9);*/
  border:2px solid #444;
  border-radius:3px;
  text-align:left;
}

.frame h3{
  background: -moz-linear-gradient(#333, #444);
  background: -webkit-linear-gradient(#333, #444);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: #ababab;
  font-size: 1.3em;
  font-variant: small-caps;
  font-weight: normal;
  /*padding: 0.1em 5px;*/
  text-align: center;
  margin-top:0px;
  height:25px;
}

.frame .close{
  cursor:pointer;
  float:right;
  color:#ababab;
  opacity:0.75;
  margin-top:-7px;
  margin-right:1px;
  font-size:1.1em;
}


/* Historique des version */
#hist>ul{
  margin-top:-19px;
  padding: 0;
  text-align:center;
  overflow-y: auto;
  overflow-x:hidden;
  height:275px;
  border-bottom:1px dotted #444;
}

#hist>ul li{
  margin-left:10px;
  padding: 0; 
  display:list-item;
  list-style: none;
}

#hist>ul li>div{
  float:left;
  clear:left;
  height:12px;
}

#hist input[type=radio]{
  display:inline-block;
  position:relative;
  top:2px;
  left:-10px;
  margin-right:3px;
}

#hist>ul li a {
  color: #ababab;
  display:inline-block; 
  padding: 0.25em 0;
  font-family: 'helvetica',sans-serif;
  height:12px;
}

#hist>ul li a:hover, #hist a:focus {
  text-shadow:0 0 2px rgba(100,100,100,0.75);
  text-decoration: none;
}

#compare{
  height:25px;
  width:50%;
  margin-left:25%;
  margin-top:-12px;
  cursor:pointer;
  border:1px solid #444;
  background: -moz-linear-gradient(center bottom , #C6C6C6 0%, #E2E1E2 100%) repeat scroll 0 0 #DDDDDD;
  background: -webkit-linear-gradient(#C6C6C6,#E2E1E2) repeat scroll 0 0 #DDDDDD;
}

#hist .diff{
  height:50%;
  margin:5px 0 0 0;
  padding:0;
  color:#999;
  overflow-y:auto;
  font-size:0.8em;
}

#hist .diff table{
  vertical-align:top;
  border-collapse:collapse;
  width:95%;
  margin:3px 2.5%;
}

#hist .diff table td{
  vertical-align:top;
  border:thin solid rgba(100,100,100,0.25);
  padding:0.2em;
}

#hist .diff table td:first-child{
  text-align:right;
}

#hist .diff table div,#hist .diff table p{
  display:inline-block;
  vertical-align:top;
}

#hist .diff td.plus{
  color:green;
}

#hist .diff td.minus{
  color:red;
}
/* iframe */
iframe {
  background:#fff;
  border: 1px solid #aaa;
  height:40em;
  margin: 15px 5%;
  width: 90%;
}

#hist #bigger{
  color:#CA378F;
}

/* 
  --------------
  - Breadcrumb -
  --------------
*/
section aside.breadcrumb {
  font-size: 0.8em;
  margin: 15px 5%;
  color: #707070;
}

section aside.breadcrumb a {
  color: #707070;
}

section aside.breadcrumb a:hover{
  color:#505050;
}

section aside.breadcrumb span{
  font-weight:bold;
}

#imageform{
  display:none;
  position:absolute;
  margin-top:-40px;
  margin-left:50px;
  background:
}


#imageform p{
  color:red;
}

#imageform .progress{
  width:80%;
  margin:10px 10%;
  display:none;
}

#uploadedimage{
  display:none;
  max-width:80%;
  max-height:80%;
  margin:auto;
  display:block;
}
  
#addimage{
  display:none;
  margin:10px 25%;
  width:50%;
}


/* Loading */
.loading{
  position:absolute;
  width:200px;
  height:200px;
  border:2px solid #999;
  box-shadow:0px 0px 4px #999;
  background:#dadada url(img/icons/loader.gif);
  color:white;
  display:none;
  text-align:center;
  z-index:100;  
}

.loading .close{
  cursor:pointer;
  float:right;
  color:black;
  opacity:0.25;
  margin-top:-5px;
  margin-right:1px;
  font-size:1.1em;
}

.loading #PDF-link{
  color:#444;
  margin-top:20px;
  display:none;
  text-align:center;
  width:200px;
}

.loading #PDF-link:hover{
  text-shadow:0 0 1px #aaa;
}

.loading #PDF-link img{

}

.loading #loader{
  margin-top:90px;
  display:none;
  color:#444;
}

#backgroundPopup{
  display:none;
  position:fixed;
  _position:absolute; /* hack for internet explorer 6*/
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:#000000;
  border:1px solid #cecece;
  z-index:99;
}

div.ok {
  height:25px;
  width:20%;
  position:fixed;
  z-index:10000;
  top:42px;
  left:40%;
  font-size:0.9em;
  background-color: #c6c6c6;
  padding-top:8px;
  text-align:center;
  border-radius:0px 0px 3px 3px;
  border: thin solid #727272;
  border-top:none;
  text-shadow:0 0 1px #dadada outset;
  color:green;
}
div.error {
  height:25px;
  width:20%;
  position:fixed;
  z-index:10000;
  top:42px;
  left:40%;
  font-size:0.9em;
  background-color: #c6c6c6;
  padding-top:8px;
  text-align:center;
  border-radius:0px 0px 3px 3px;
  border: thin solid #727272;
  text-shadow:0 0 1px #dadada outset;
  color:red;
}

/*
  -------------
  - Edit Page -
  -------------
*/
fieldset {
  margin: 1em;
}

fieldset legend {
  font-style: italic;
  font-family: georgia;
}

form[name=document] {
  padding: 1em;
}

/*
  -------------
  - Docs Page -
  -------------
*/

section #doc-list>li{
  list-style-type: none;
  float: left;
  margin-right: 3em;
}

section #doc-list>li:not(:first-child) {
  border-left: thin dotted #6b6b6b;
  padding-left: 3em;
}

section #doc-list>li>h3 {
  cursor: pointer;
  font-family: patinio;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #6b6b6b;
}

section #doc-list>li>ul{
  display: block;
  margin-top: -2em;
}

section #doc-list>li>ul li {
  color: #6b6b6b;
  font-family: georgia;
}

section #doc-list>li>ul li a{
  color: #CA378F;
}

section #doc-list>li>ul li a:hover{
  text-decoration: underline;
}

section #doc-list span.document-info {
  font-style: italic;
  font-family: georgia;
  font-size: 0.9em;
}

section #doc-list span.document-info:before {
  content: ' - ';
}

section #doc-list ul ul {
  margin-top: -1em;
}

section #doc-list ul ul li {
  list-style: circle;
}
/*
  ----------
  - Footer -
  ----------
*/

footer {
  background: #CA378F;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5) inset;
  font-family: 'patinio';
  font-size: 0.85em;
  padding: 2px 0;
  text-align: center;
}


footer li { 
  display: inline;
}

footer li a {
  color: #222 !important;
  padding: 0 5px;
}

footer li a:hover {
  color: black !important;
}



section.connection  p {
  text-align: center;
}

section.connection form{  
  font-size: 0.9em;
  margin: 0 auto 8em auto;
  width: 20em;
}

section.connection label {
  clear: right;
  color: #8B0077;
  display: block;
  float: left;
  margin: 0 -1px;
  text-align: right;
  width: 45%;
}

section.connection input {
  border: 1px solid #8B0077;
  color: #111111;
  float: right;
  margin-bottom: 0.5em;
  width: 50%;
}

section.connection input[type=submit],
section.connection input[type=button] {
	border: 2px solid #222;
	background: #222;
	color: #fff;
	cursor: pointer;
}

section.connection input[type=submit]:hover, section.connection input[type=submit]:focus,
section.connection input[type=button]:hover, section.connection input[type=button]:focus {
	background: #333;
  border-color: #333;
}
