.message {
  position: absolute;
  right: 0;
  top: 0;
}

.message.error {
  color: red;
}

.message.info {
  color: green;
}

iframe {
  box-shadow: 0 0 10px grey;
  display: block;
  height: 1188px;
  margin: auto;
  max-width: 90%;
  width: 840px;
}

#rights {
  background: white;
  box-shadow: 0 0 10px grey;
  line-height: 1.2em;
  position: absolute;
  right: 0;
  z-index: 1;
}

#rights td {
  padding: 0.2em 1em;
}

#buttons {
  text-align: center;
}

#buttons ul {
  display: inline-block;
  line-height: 3em;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#buttons li {
  display: inline-block;
}

#buttons li > a {
  color: transparent;
  display: block;
  line-height: 0;
  height: 2em;
  outline: none !important;
  width: 2em;
}

#buttons li > a:after {
  background: grey;
  color: black;
  content: attr(data-char);
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
}